# Fichiers binaires et builds
bin/
obj/
*.exe
*.dll
*.pdb
*.log

# Dossiers de configuration de Visual Studio
.vs/
.vscode/

# Dépendances NuGet
packages/
project.lock.json

# Logs et fichiers de configuration utilisateurs
*.user
*.suo
*.cache
